<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
    <h1>
        {{title}}!
    </h1>
    <span style="display: block">¡Bienvenida a Alfea!</span>
    <img id="bu" width="500" alt="Angular Logo"
        src="https://i.pinimg.com/originals/dc/d8/66/dcd8665421921a64144259f0357d46d1.png">
</div>
<h2 class="hola">Conoce a las chicas:</h2>
<h3 class="hola"> Con cuidado... </h3>
<ul>
    <li>
        <h2 class="title"><a class="title" target="_blank" rel="noopener" href="https://winx.fandom.com/es/wiki/Stella">Stella</a></h2>
    </li>
    <li>
        <h2 class="title"><a class="title" target="_blank" rel="noopener" href="https://winx.fandom.com/es/wiki/Flora">Flora</a></h2>
    </li>
    <li>
        <h2 class="title"><a class="title" target="_blank" rel="noopener" href="https://winx.fandom.com/es/wiki/Bloom">Bloom</a></h2>
    </li>
</ul>
<div class="space"></div>
<app-footer></app-footer>