/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('https://i.pinimg.com/originals/82/f7/15/82f71563dab75a6c5972d02d8d9a8b8b.png');
    background-size: cover; 
    background-repeat: no-repeat; 
  }
